<% include ./partials/headerone %>
</head>
<% include ./partials/headertwo %>
    <div class = "container" id = "main">
        <div class = "Jumbotron"> 
            Play three of the greatest classic games ever made: Tetris, Snake and Pacman.
        </div>
      
        <div class="row">
            <div class="col-sm-4 col-lg-4">
                <a href="tetris" class="thumbnail">
                    <img src="ClassicImages/Tetris.png">
                </a>
                <!-- <p> Developed by <a href="https://github.com/jakesgordon/javascript-tetris">jakesgordon</a></p> -->
            </div>

             <div class="col-sm-4 col-lg-4">
                <a href="pacman" class="thumbnail">
                    <img src="ClassicImages/Pacman.jpg">
                </a>
                <br>
                 <!-- <p> Developed by <a href="https://github.com/bxia/Javascript-Pacman">Zi Wang and Bingying Xia</a></p> -->
            </div>

             <div class="col-sm-4 col-lg-4">
                <a href="snake" class="thumbnail">
                    <img src="ClassicImages/Snake.png">
                </a>
                <br>
                <!-- <p> Developed by <a href="https://github.com/patorjk/JavaScript-Snake">Patrick Gillespie</a></p> -->
            </div>
        </div>
    </div>

      <!--   <div class = "Jumbotron"> Tetris </div>
        <p style="text-align:center;">
            <img src="ClassicImages/Tetris.png" height="400" width="400" align="middle">
        </p>
        
        <div class = "Jumbotron"> Pacman </div>
        <p style="text-align:center;">
            <img src="ClassicImages/Pacman.jpg" height="300" width="400" align="middle">
        </p>

        <div class = "Jumbotron"> Snake </div>
        <p style="text-align:center;">
            <img src="ClassicImages/Snake.png" height="300" width="400" align="middle">
        </p> -->
       <!--  These games are Tetris, Pacman and Snake.
        div
        Signup and Login to record your scores. 
        Will you be one of the greatest players ever? -->
<% include ./partials/footer %>


