
<!DOCTYPE html>
<html>
<head>
    <title>Classic Games</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic">
    <link rel="stylesheet" type="text/css" href="/styles/retro.css">
    <style>
        #topBar {
            background-color: red;
        }

        #BottomBar {
            z-index: 100; 
            bottom: 0; 
            left: 0;
            width: 100%;
        }

        .Jumbotron {
            margin: auto;
            text-align: center;
            padding-bottom: 25px;
        }

        #TetrisImage {
            margin: auto;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-default">
        <div id= "TopBar" class="container">
            <div class="navbar-header">
                 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
                <a href="/" class="navbar-brand">Classic Games</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-nav-demo">
                <ul class="nav navbar-nav">
                    <li><a href="about">About</a></li>
                    <li><a href="tetris">Tetris</a></li>
                    <li><a href="pacman">Pacman</a></li>
                    <li><a href="snake">Snake</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="register">Sign Up <i class="fa fa-user-plus"></i></a></li>
                    <li><a href="login">Login <i class="fa fa-user"></i></a></li>
                    <li><a href="logout">Logout <i class="fa fa-sign-out"></i></a></li>

                </ul>
            </div>
        </div>
    </nav>
    <div id= "registerForm" class="container">
        <h1>Sign Up!</h1>
        <form action="/register" method="post">
            <input type="text" name="username" placeholder="username">
            <input type="password" name="password" placeholder="password">
            <button>Sign Up</button>
        </form>
    </div>
</body>
</html>