<!DOCTYPE html> 
<!--<html manifest="snake.appcache">-->
<!--
JavaScript Snake
By Patrick Gillespie
http://patorjk.com/games/snake
Source code is available here: https://github.com/patorjk/JavaScript-Snake
--> 
<head>
    <title>JavaScript Snake</title>
    <link rel=stylesheet id=style type=text/css href=/styles/main-snake.css />
    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <!-- <button onclick=getTheme()>Click to use this theme.</button>
    <select id="select">
        <option>Dark Theme</option>
        <option>Revert To Original</option>
    </select> -->
    <!-- <script>
        function getTheme () {
            function changeTheme (Theme) {
                document.getElementById('style').setAttribute('href', Theme);
            }
            var index = document.getElementById("select").selectedIndex;
            switch (index) {
                case 0: 
                changeTheme('/styles/dark-snake.css');
                break;
                case 1: changeTheme('/styles/main-snake.css');
            }
        }
        if (navigator.onLine && window.location.hostname === 'patorjk.com') {
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-3312460-1']);
            _gaq.push(['_trackPageview']);
            (function() {
              var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
              ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        }
    </script> -->
    <link rel="stylesheet" type="text/css" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic">
</head>
<body style="background-color: white">
    <nav class="navbar navbar-default">
        <div id= "TopBar" class="container">
            <div class="navbar-header">
                 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
                <a href="/" class="navbar-brand">Classic Games</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-nav-demo">
                <ul class="nav navbar-nav">
                    <li><a href="about">About</a></li>
                    <li><a href="tetris">Tetris</a></li>
                    <li><a href="pacman">Pacman</a></li>
                    <li><a href="snake">Snake</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="register">Sign Up<i class="fa fa-user-plus"></i></a></li>
                    <li><a href="login">Login<i class="fa fa-user"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="mode-wrapper">
        <div id = "button-wrapper">
                Select which mode you would like to play in.
                <br />
                <button id="Easy">Easy</button>
                <button id="Medium">Medium</button>
                <button id="Difficult">Difficult</button>
        </div>
    </div>
    <!--<button id="high-score">Get your current high score for this game.</button>-->
    <div id="game-area" tabindex="0">
    </div>
    <form id="saveForm" action="/snakesave" method="POST">
        <input id="scoreButton" type="hidden" name="savedScore">
        <input id="saveButton" type="submit" value="Save Score?" style="z-index:2; position:absolute; top:280px; left:697px; display:none" onclick="this.style.display = 'none';" class="btn btn-primary btn-lg"/>
    </form>
    <script type="text/javascript" src="/scripts/snake.js"></script>
    <script type="text/javascript">
        var mySnakeBoard = new SNAKE.Board(  {
               boardContainer: "game-area",
               fullScreen: true
        });    
    </script>
    <script type="text/javascript">
        function tempAlert(msg,duration)    {
            var el = document.createElement("div");
            el.setAttribute("style","position:absolute;top:30%;left:47%;background-color:white;");
            el.innerHTML = msg;
            setTimeout(function(){
                el.parentNode.removeChild(el);
            }, duration);
            document.body.appendChild(el);
        }
        /* attach a submit handler to the form */
        $("#saveForm").submit(function(event) {

            /* stop form from submitting normally */
            event.preventDefault();

            /* get the action attribute from the <form action=""> element */
            var $form = $( this ),
              url = $form.attr( 'action' );

            /* Send the data using post with element id name and name2*/
            var posting = $.post( url, { score: $('#scoreButton').val() } );

            /* Alerts the results */
            posting.done(function( data ) {
                tempAlert(" Score Saved! ", 2500);
            });
        });
    </script>    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>