<!DOCTYPE html>
<html>
<head>
    <title> PACMAN </title>
    <link rel="stylesheet" type="text/css" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic">
    <link rel="stylesheet" type="text/css" href="/styles/pacman.css">
    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>

</head>
<body>
    <nav class="navbar navbar-default">
    <div id= "TopBar" class="container">
        <div class="navbar-header">
             <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            <a href="/" class="navbar-brand">Classic Games</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-nav-demo">
            <ul class="nav navbar-nav">
                <li><a href="about">About</a></li>
                <li><a href="tetris">Tetris</a></li>
                <li><a href="pacman">Pacman</a></li>
                <li><a href="snake">Snake</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="register">Sign Up<i class="fa fa-user-plus"></i></a></li>
                <li><a href="login">Login<i class="fa fa-user"></i></a></li>
            </ul>
        </div>
    </div>
    </nav>
    <canvas style="z-index:1" id="myCanvas" width="510" height="510"></canvas>
    <form id="saveForm" action="/pacmansave" method="POST">
        <input id="scoreButton" type="hidden" name="savedScore">
        <input id="saveButton" type="submit" value="Save Score?" style="z-index:2; position:absolute; top:250px; left:697px; display:none" onclick="this.style.display = 'none';" class="btn btn-primary btn-lg"/>
    </form>
    <script type="text/javascript" src="/scripts/Pacman.js"></script>
    <script type="text/javascript" src="/scripts/Ghost.js"></script>
    <script type="text/javascript" src="/scripts/Grid.js"></script>
    <script type="text/javascript" src="/scripts/Game.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        function tempAlert(msg,duration)    {
            var el = document.createElement("div");
            el.setAttribute("style","position:absolute;top:30%;left:47%;background-color:white;");
            el.innerHTML = msg;
            setTimeout(function(){
                el.parentNode.removeChild(el);
            }, duration);
            document.body.appendChild(el);
        }
        /* attach a submit handler to the form */
        $("#saveForm").submit(function(event) {

            /* stop form from submitting normally */
            event.preventDefault();

            /* get the action attribute from the <form action=""> element */
            var $form = $( this ),
              url = $form.attr( 'action' );

            /* Send the data using post with element id name and name2*/
            var posting = $.post( url, { score: $('#scoreButton').val() } );

            /* Alerts the results */
            posting.done(function( data ) {
                tempAlert(" Score Saved! ", 2500);
            });
        });
    </script>
</body>
</html>